<body class="s-lg-guide-body libguide--cards">

    {{ADMIN_CMD_BAR}}

    <!-- BEGIN: Guide Info Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders hide-accessible pad-top-med">

        <div class="pull-right">
            {{ADMIN_MINI_CMD_BAR}}
        </div>        

        <div id="s-lib-bc"> {{breadcrumbs}} </div>
        
        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container" class="pad-top-med">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Info Header -->


    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->

    <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />
                    
<!-- Header
======================
--> <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">
    
        <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

            <div class="pill-menu">
                <ul>
                    <li class="has-subnav primary">
                        <label class="label" for="top-menu" title="Open the Menu">
                            <svg class="svg svg--menu" viewBox="0 0 32 32"><use xlink:href="#icon-menu"></use></svg>
                            <span class="hide-accessible">Menu</span>
                        </label>
                    </li>
                    <li class="pill-menu__title">
                        {{guide_title}} &mdash; {{page_title}}
                    </li>
                </ul>
            </div>

            <ul class="menu--actions--public">

                <li class="menu--actions--public__menu-item"><a href="#ask">Ask a Librarian</a></li>

                <li class="menu--actions--public__menu-item menu--actions__divider" aria-hidden="true">&nbsp;</li>

                <li class="menu--actions--public__menu-item">
                    <label class="label" for="top-menu" alt="Search the Library Website" title="Search the Library Website"><svg class="svg svg--search" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg> </label>
                </li>

            </ul>    


        </div><!--/.inner-header-->
    
    </header><!--/.header-->

        
    <nav class="top-menu hidden-xs hidden-sm hidden-md hidden-lg" role="navigation">
        <div id="inner-menu" class="wrap clearfix">

            <div class="search">    
                <form class="has-background no-margin form" role="search" method="get" id="searchform" action="http://sharksearch.nova.edu/search">
                        <ul class="no-margin">                
                            <li class="form__field no-margin">
                                <label class="hide-accessible label" for="searchbox">Search the Library Website</label>
                                <svg class="svg svg--search" style="margin-right: 1em;" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
                                <input class="input form__input form__input--full-width search__search-field search__search-field--transparent input--large input--epsilon" type="search" value="" name="q" id="searchbox" placeholder="Search the Library Website" speech="">                                        
                            </li>
                        </ul>


                    <input type="hidden" name="client" value="aslritc">
                    <input type="hidden" name="proxystylesheet" value="main">
                    <input type="hidden" name="output" value="xml_no_dtd">
                    <input type="hidden" name="access" value="p">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="hidden" name="oe" value="UTF-8">
                    <input type="hidden" name="site" value="aslritc" id="sopswap">
                </form>
            </div>

            <div class="menu-main-container">
                <ul id="menu-main" class="menu"><li id="menu-item-1331" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1331"><a href="#resources">Electronic Resources</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1332" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1332"><a href="http://sherman.library.nova.edu/e-library">Databases</a></li>
                        <li id="menu-item-1333" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1333"><a href="http://atoz.ebsco.com/Search.asp?id=nseu" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://atoz.ebsco.com/Search.asp?id=nseu', 'Journal Finder']);">Journal Finder</a></li>
                        <li id="menu-item-1334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1334"><a href="http://novacat.nova.edu/screens/opacmenu.html" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://novacat.nova.edu/screens/opacmenu.html', 'Catalog (“NovaCat”)']);">Catalog (“NovaCat”)</a></li>
                        <li id="menu-item-1337" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1337"><a href="http://sherman.library.nova.edu/doi">DOI Tools</a></li>
                        <li id="menu-item-1338" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1338"><a href="http://illiad.library.nova.edu/">Document Delivery / ILLiad</a></li>
                    </ul>
                </li>
                <li id="menu-item-1339" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1339"><a href="#services">Services</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1340"><a href="http://sherman.library.nova.edu/sites/services/circulation/">Borrowing &amp; Circulation</a></li>
                        <li id="menu-item-1343" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1343"><a href="http://sherman.library.nova.edu/sites/services/electronic-course-reserves-ecr/">Electronic Course Reserves</a></li>
                        <li id="menu-item-1342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1342"><a href="http://sherman.library.nova.edu/sites/services/docdel/">Interlibrary Loan</a></li>
                        <li id="menu-item-1341" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1341"><a href="http://sherman.library.nova.edu/sites/workshops-and-instruction">Workshops and Instruction</a></li>
                        <li id="menu-item-1344" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1344"><a href="http://public.library.nova.edu">Public Library Services</a></li>
                        <li id="menu-item-1345" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1345"><a href="http://sherman.library.nova.edu/sites/services/reference-department/">Reference</a></li>
                        <li id="menu-item-1346" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1346"><a href="http://www.nova.edu/library/serv/facilities" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.nova.edu/library/serv/facilities', 'Conference Rooms']);">Conference Rooms</a></li>
                    </ul>
                </li>
                <li id="menu-item-1348" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1348"><a href="#about">About</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1634"><a href="http://sherman.library.nova.edu/sites/hours/">Library and Services Hours</a></li>
                        <li id="menu-item-1635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1635"><a href="http://sherman.library.nova.edu/sites/directions/">Directions and Parking</a></li>
                        <li id="menu-item-1352" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1352"><a href="http://sherman.library.nova.edu/sites/about/exhibits/">Exhibits</a></li>
                        <li id="menu-item-1353" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1353"><a href="http://sherman.library.nova.edu/helios">Events</a></li>
                        <li id="menu-item-1355" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1355"><a href="http://sherman.library.nova.edu/sites/about/library-collections/">Library Collections</a></li>
                        <li id="menu-item-1356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1356"><a href="http://sherman.library.nova.edu/sites/policies">Policies</a></li>
                        <li id="menu-item-1359" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1359"><a href="http://www.nova.edu/library/main/directory.html" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.nova.edu/library/main/directory.html', 'Staff Directory']);">Staff Directory</a></li>
                    </ul>
                </li>
                <li id="menu-item-1360" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1360"><a href="#help">Help</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1361" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1361"><a href="http://www.nova.edu/library/main/ask.html" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.nova.edu/library/main/ask.html', 'Ask a Librarian']);">Ask a Librarian</a></li>
                        <li id="menu-item-1362" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1362"><a href="http://nova.campusguides.com/index.php?gid=104" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://nova.campusguides.com/index.php?gid=104', 'Library Guides']);">Library Guides</a></li>
                        <li id="menu-item-1364" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1364"><a href="http://nova.campusguides.com/cat.php?cid=20755&amp;gid=104" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://nova.campusguides.com/cat.php?cid=20755&amp;gid=104', 'How to …']);">How to …</a></li>
                    </ul>
                </li>
            </ul>
            </div>


        </div>
    </nav>

    <!--<div class="has-background background-base hero">
        <p class="epsilon wrap center-grid">
            {{#guide_description}}
        </p>
    </div>-->
        
    <div id="s-lg-tabs-container" class="container s-lib-side-borders">
        <div id="s-lg-guide-tabs" class="tabs">
            <ul class="nav nav-tabs">
                {{guide_nav}}
            </ul>
        </div>
    </div>
    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>

        <!-- BEGIN: Guide Content -->

        <div id="s-lg-guide-main" class="container s-lib-main s-lib-side-borders">
            {{content}}
            {{page_prev_next_links}}
        </div>
        <!-- END: Guide Content -->
        <!-- BEGIN: Page Footer -->
        <div id="s-lib-footer-public" class="s-lib-footer footer container s-lib-side-borders hide-accessible">
            <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
                <ul id="s-lg-guide-header-attributes" class="">
                    <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                        {{last_updated_display}}                    </li>
                    <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                        {{guide_url_display}}
                    </li>
                    <li id="s-lg-guide-print-url">
                        {{print_url_display}}
                    </li>
                </ul>
                <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                    {{login_url_display}}                </div>
            </div>
            <div class="pad-bottom-sm clearfix">
                <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                    {{support_url_display}} 
                </div>
                <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                    {{guide_subjects}}
                </div>
                <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                    {{guide_tags}}
                </div>
            </div>
        </div>
        <!-- END: Page Footer -->

        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>        
        

        <!-- BEGIN: Custom Footer -->
                {{public_footer}}
        <!-- END: Custom Footer -->



        <div class="clearfix wrap"><div class="_libapps_login">{{login_url_display}}</div></div>

        <section class="modal semantic-content" id="ask" tabindex="-1"
                role="dialog" aria-labelledby="modal-label" aria-hidden="true">

            <div class="modal-inner">
                <header class="align-center" id="modal-label">
                    <h3 class="no-margin">Ask a Librarian</h3>
                    <p class="epsilon">
                        Get in touch with an <abbr title="Nova Southeastern University">NSU</abbr> Librarian
                    </p>
                </header>

                <div class="modal-content epsilon clearfix no-margin">

                    <div class="wrap clearfix">
                        <div class="hero sixcol first">
                            <a href="http://www.askalibrarian.org/chat_form_local2011.php?LibraryName=NovaSoutheasternUniversity&DepartmentNumber=22870&Source=Widget" id="chat"> Chat with a Librarian </a>
                        </div>

                        <div class="hero sixcol last">
                            <a href="http://systems.library.nova.edu/form/view.php?id=6"> Submit a Question</a>
                        </div>

                        <div class="hero sixcol first">
                            <a href="tel:9542624613"> Call (954) 262-4613</a>
                        </div>

                        <div class="hero sixcol last">
                            <a href="sms:9543723505"> Text (954) 372-3505</a>
                        </div>

                        <div class="hero sixcol first">
                            <a href="http://systems.library.nova.edu/form/view.php?id=22"> Make an Appointment</a>
                        </div>
                    </div>


                </div>
                <footer class="align-right clearfix zeta no-margin">
                        <p class="zeta no-margin">The reference desk is on the second floor.</p>
                        <dl class="inline no-margin zeta">
                            <dt>Monday – Friday</dt>
                            <dd>9 a.m. – 9 p.m.</dd>
                            <dt>Saturday</dt>
                            <dd>9 a.m. – 8 p.m.</dd>
                            <dt>Sunday</dt>
                            <dd>11 a.m. – 9 p.m.</dd>
                        </dl>


                </footer>
            </div>

            <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
                data-dismiss="modal">×</a>
        </section>

        
        <script src="//sherman.library.nova.edu/cdn/scripts/min/embed-librarylearn-videos-1.0.min.js"></script>
    </body>