<body class="s-lg-guide-body libguide--cards" ng-app="lgApp">
  <div data-ng-controller="ApplicationController as ac">

    {{ADMIN_CMD_BAR}}

    <!-- BEGIN: Guide Info Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders hide-accessible pad-top-med">

        <div class="pull-right">{{ADMIN_MINI_CMD_BAR}}</div>

        <div id="s-lib-bc"> {{breadcrumbs}} </div>

        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container" class="pad-top-med">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Info Header -->

    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->

    <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />

<!-- Header
======================
--> <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">

        <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

          <h1 class="pill-menu__title" style="display: inline-block;">{{guide_title}} &mdash; {{page_title}}</h1>

            <ul class="menu--actions--public  menu--actions--context"></ul>

        </div><!--/.inner-header-->

    </header><!--/.header-->

    <!--<div class="has-background background-base hero">
        <p class="epsilon wrap center-grid">
            {{#guide_description}}
        </p>
    </div>-->

    <div id="s-lg-tabs-container" class="container s-lib-side-borders">
        <div id="s-lg-guide-tabs" class="tabs">
            <ul class="nav nav-tabs split-button-nav">
                {{guide_nav}}
            </ul>
        </div>
    </div>
    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>

        <!-- BEGIN: Guide Content -->

        <div id="s-lg-guide-main" class="container s-lib-main s-lib-side-borders">
            {{content}}
            {{page_prev_next_links}}
        </div>
        <!-- END: Guide Content -->
        <!-- BEGIN: Page Footer -->
        <div id="s-lib-footer-public" class="s-lib-footer footer container s-lib-side-borders hide-accessible">
            <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
                <ul id="s-lg-guide-header-attributes" class="">
                    <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                        {{last_updated_display}}                    </li>
                    <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                        {{guide_url_display}}
                    </li>
                    <li id="s-lg-guide-print-url">
                        {{print_url_display}}
                    </li>
                </ul>
                <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                    {{login_url_display}}                </div>
            </div>
            <div class="pad-bottom-sm clearfix">
                <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                    {{support_url_display}}
                </div>
                <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                    {{guide_subjects}}
                </div>
                <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                    {{guide_tags}}
                </div>
            </div>
        </div>
        <!-- END: Page Footer -->

        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>


        <!-- BEGIN: Custom Footer -->
                {{public_footer}}
        <!-- END: Custom Footer -->

      <div class="clearfix wrap"><div class="_libapps_login">{{login_url_display}}</div></div>
    </div>
  </body>
