<body class="s-lg-guide-body">
        {{ADMIN_CMD_BAR}}
        <!-- BEGIN: Page Header -->
        {{public_header}}
        <!-- END: Page Header -->
        <!-- BEGIN: Guide Info Header -->
        <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders">
            <div id="s-lib-bc">
                {{breadcrumbs}}
            </div>
            <div id="s-lg-guide-header-search">
            </div>
            <div id="s-lg-guide-header-info">
                <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
                <div id="s-lg-guide-desc-container" class="pad-top-med">
                    <span id="s-lg-guide-description">{{guide_description}}</span>
                </div>
            </div>
        </div>
        <!-- END: Guide Info Header -->
        <div id="s-lg-tabs-container" class="container s-lib-side-borders pad-top-med">
            <div id="s-lg-guide-tabs" class="tabs">
                <ul class="nav nav-tabs">
                    {{guide_nav}}
                </ul>
            </div>
        </div>
        <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>
        <!-- BEGIN: Guide Content -->
        <div id="s-lg-guide-main" class="container s-lib-main s-lib-side-borders">
            {{content}}
            {{page_prev_next_links}}
        </div>
        <!-- END: Guide Content -->
        <!-- BEGIN: Page Footer -->
        <div id="s-lib-footer-public" class="s-lib-footer footer container  s-lib-side-borders">
            <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
                <ul id="s-lg-guide-header-attributes" class="">
                    <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                        <span class="s-lg-guide-label">Last Updated:</span> <span class="s-lg-text-greyout">{{guide_updated}}
</span>
                    </li>
                    <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                        <span class="s-lg-guide-label">URL:</span> <span class="s-lg-text-greyout">{{guide_url}}
</span>
                    </li>
                    <li id="s-lg-guide-print-url">
                    	<a href="{{guide_print_url}}"><i class="fa fa-print" title="Print Page"></i> Print Page</a>
                    </li>	
                </ul>
                <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                    <a href="{{login_url}}">Login to LibApps</a>.
                </div>
            </div>
            <div class="pad-bottom-sm clearfix">
                <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                     
                </div>
                <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                    {{guide_subjects}}
                </div>
                <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                    {{guide_tags}}
                </div>
            </div>
        </div>
        <!-- END: Page Footer -->
        
			<div id="s-lib-scroll-top" title="Back to Top">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
				</span>
			</div>        <div id="s-lib-alert" title="">
                            <div id="s-lib-alert-content"></div>
                       </div>        
                <!-- BEGIN: Custom Footer -->
                {{public_footer}}
		<!-- END: Custom Footer -->
	</body>