<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
    <defs>

        <g id="icon-menu">
            <rect width="18" height="2"/>
            <rect y="5" width="18" height="2"/>
            <rect y="10" width="18" height="2"/>
        </g>


        <g id="icon-search">
            <path class="path1" d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12c0 6.627 5.373 12 12 12 2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
        </g>
    </defs>
</svg>

<a class="hide-accessible" href="#content">Skip to Content</a>
    <div class="menu universal tinsley-gradient">
        <div class="wrap clearfix">

            <a class="nsu" href="//www.nova.edu/community/libraries.html" title="Nova Southeastern University Libraries">
                <img src="http://sherman.library.nova.edu/cdn/styles/css/brand/logo.png">             
            </a>
            
        </div>              
    </div><!--/.universal-->

    <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />
                    
    <!-- Header
    ======================
    --> <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">
        
            <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

                <div class="pill-menu">
                    <ul>
                        <li class="has-subnav primary">
                            <label class="label" for="top-menu" title="Open the Menu">
                                <svg class="svg svg--menu" viewBox="0 0 32 32"><use xlink:href="#icon-menu"></use></svg>
                                <span class="hide-accessible">Menu</span>
                            </label>
                        </li>
                        <li class="pill-menu__title">
                            <a href="#>">{{guide_title}} - {{page_title}}</a>
                        </li>
                    </ul>
                </div>

                <ul class="menu--actions--public">

                    <li class="menu--actions--public__menu-item">Ask a Librarian</li>

                    <li class="menu--actions--public__menu-item menu--actions__divider" aria-hidden="true">&nbsp;</li>

                    <li class="menu--actions--public__menu-item">
                        <label class="label" for="top-menu" alt="Search the Library Website" title="Search the Library Website"><svg class="svg svg--search" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg> </label>
                    </li>

                </ul>                       

            </div><!--/.inner-header-->
        
        </header><!--/.header-->

        
        <nav class="top-menu hidden-xs hidden-sm hidden-md hidden-lg" role="navigation">
            <div id="inner-menu" class="wrap clearfix">

                <div class="search">    
                    <form class="has-background no-margin form" role="search" method="get" id="searchform" action="http://sharksearch.nova.edu/search">
                            <ul class="no-margin">                
                                <li class="form__field no-margin">
                                    <label class="hide-accessible label" for="searchbox">Search the Library Website</label>
                                    <svg class="svg svg--search" style="margin-right: 1em;" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
                                    <input class="input form__input form__input--full-width search__search-field search__search-field--transparent input--large input--epsilon" type="search" value="" name="q" id="searchbox" placeholder="'.esc_attr__('Search the Library Website','bonestheme').'" speech />                                        
                                </li>
                            </ul>


                        <input type="hidden" name="client" value="aslritc">
                        <input type="hidden" name="proxystylesheet" value="main">
                        <input type="hidden" name="output" value="xml_no_dtd">
                        <input type="hidden" name="access" value="p">
                        <input type="hidden" name="ie" value="UTF-8">
                        <input type="hidden" name="oe" value="UTF-8">
                        <input type="hidden" name="site" value="aslritc" id="sopswap">
                    </form>
                </div>

                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10">
                            <a href="#">Something</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17">
                                    <a href="http://public.library.nova.edu/about/hours/" title="Alvin Sherman Library Hours">
                                        Something Else
                                    </a>
                                </li>                                
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

