<link rel="stylesheet" type="text/css" href="//sherman2.library.nova.edu/cdn/styles/css/public-global/libguide.css">

<body class="s-lg-guide-body libguide--single">

    {{ADMIN_CMD_BAR}}

    {{public_header}}

    <div id="container">

        <div id="content">

            <div id="inner-content">

		<div id="s-lg-guide-header" class="hide-accessible container s-lib-header s-lib-side-borders">
            <div id="s-lib-bc" class="hide-accessible">
                {{breadcrumbs}}
            </div>

            <div id="s-lg-guide-header-info">
                <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
                <div id="s-lg-guide-desc-container" class="pad-top-med">
                    <span id="s-lg-guide-description">{{guide_description}}</span>
                </div>
            </div>

            <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                {{guide_subjects}}
            </div>
            <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                {{guide_tags}}
            </div>


        </div>
        <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>


    <div id="s-lg-tabs-container" class="container s-lib-side-borders pad-top-med">
        <div id="s-lg-guide-tabs">
            <div class="row">
                <div class="col-md-4 s-lg-tabs-side pad-bottom-med">
                    <ul class="nav nav-pills nav-stacked">{{guide_nav}}
</ul>

                    {{side_nav_boxes}}

                </div>
                <div class="col-md-8">
                    <div class="s-lg-tab-content">
                        <div id="s-lg-guide-main" class="tab-pane active">
                            {{content}}
                        </div>
                    </div>
        			{{page_prev_next_links}}
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN: Page Footer -->
    <div id="s-lib-footer-public" class="s-lib-footer footer container  s-lib-side-borders">
        <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
            <ul id="s-lg-guide-header-attributes" class="">
                <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                    <span class="s-lg-guide-label">Last Updated:</span> <span class="s-lg-text-greyout">{{guide_updated}}
</span>
                </li>
                <li id="s-lg-guide-header-url">
                    <span class="s-lg-guide-label">URL:</span> <span class="s-lg-text-greyout">{{guide_url}}
</span>
                </li>
            </ul>
            <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                <a href="{{login_url}}">Login to LibApps</a>.
            </div>
        </div>
        <div class="pad-bottom-sm clearfix">
            <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                 
            </div>
            <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                {{guide_subjects}}
            </div>
            <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                {{guide_tags}}
            </div>
        </div>
    </div>
    <!-- END: Page Footer -->
    
		<div id="s-lib-scroll-top" title="Back to Top">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-square-o fa-stack-2x"></i>
			  <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
			</span>
		</div>        <div id="s-lib-alert" title="">
                        <div id="s-lib-alert-content"></div>
                   </div>        
            <!-- BEGIN: Custom Footer -->
            </div><!--/#inner-content-->
        </div><!--/#content-->
    </div><!--/#container-->
            {{public_footer}}
	<!-- END: Custom Footer -->
</body>