<body class="s-lg-guide-body libguide--cards libguide--subjects">

<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <defs>

            <symbol id="icon-menu" viewBox="0 0 100 125">
              <path d="M5 5h90v20H5zM5 40h90v20H5zM5 75h90v20H5z"/>
            </symbol>

            <g id="icon-search">
                <path class="path1" d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12c0 6.627 5.373 12 12 12 2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
            </g>

            <symbol id="icon-question" viewBox="0 0 1024 1024">
                <title>question</title>
                <path class="path1" d="M448 704h128v128h-128zM704 256c35.346 0 64 28.654 64 64v192l-192 128h-128v-64l192-128v-64h-320v-128h384zM512 96c-111.118 0-215.584 43.272-294.156 121.844s-121.844 183.038-121.844 294.156c0 111.118 43.272 215.584 121.844 294.156s183.038 121.844 294.156 121.844c111.118 0 215.584-43.272 294.156-121.844s121.844-183.038 121.844-294.156c0-111.118-43.272-215.584-121.844-294.156s-183.038-121.844-294.156-121.844zM512 0v0c282.77 0 512 229.23 512 512s-229.23 512-512 512c-282.77 0-512-229.23-512-512s229.23-512 512-512z"></path>
            </symbol>

            <symbol id="icon-facebook" viewBox="0 0 1024 1024">
                <title>Facebook</title>
                <path class="path1" d="M512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512v-384h-128v-128h128v-96c0-88.366 71.632-160 160-160h160v128h-160c-17.674 0-32 14.328-32 32v96h176l-32 128h-144v367.87c220.828-56.838 384-257.3 384-495.87 0-282.77-229.23-512-512-512z"></path>
            </symbol>

            <symbol id="icon-twitter" viewBox="0 0 1024 1024">
                <title>Twitter</title>
                <path class="path1" d="M1024 194.418c-37.676 16.708-78.164 28.002-120.66 33.080 43.372-26 76.686-67.17 92.372-116.23-40.596 24.078-85.556 41.56-133.41 50.98-38.32-40.83-92.922-66.34-153.346-66.34-116.022 0-210.088 94.058-210.088 210.078 0 16.466 1.858 32.5 5.44 47.878-174.6-8.764-329.402-92.4-433.018-219.506-18.084 31.028-28.446 67.116-28.446 105.618 0 72.888 37.088 137.192 93.46 174.866-34.438-1.092-66.832-10.542-95.154-26.278-0.020 0.876-0.020 1.756-0.020 2.642 0 101.788 72.418 186.696 168.522 206-17.626 4.8-36.188 7.372-55.348 7.372-13.538 0-26.698-1.32-39.528-3.772 26.736 83.46 104.32 144.206 196.252 145.896-71.9 56.35-162.486 89.934-260.916 89.934-16.958 0-33.68-0.994-50.116-2.94 92.972 59.61 203.402 94.394 322.042 94.394 386.422 0 597.736-320.124 597.736-597.744 0-9.108-0.206-18.168-0.61-27.18 41.056-29.62 76.672-66.62 104.836-108.748z"></path>
            </symbol>

            <symbol id="icon-user" viewBox="0 0 1024 1024">
                <title>user</title>
                <path class="path1" d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"></path>
            </symbol>

            <symbol id="icon-bubbles" viewBox="0 0 1152 1024">
                <title>Ask</title>
                <path class="path1" d="M1088 901.166c0 45.5 26.028 84.908 64 104.184v15.938c-10.626 1.454-21.472 2.224-32.5 2.224-68.008 0-129.348-28.528-172.722-74.264-26.222 6.982-54.002 10.752-82.778 10.752-159.058 0-288-114.616-288-256s128.942-256 288-256c159.058 0 288 114.616 288 256 0 55.348-19.764 106.592-53.356 148.466-6.824 14.824-10.644 31.312-10.644 48.7zM230.678 221.186c-66.214 53.798-102.678 122.984-102.678 194.814 0 40.298 11.188 79.378 33.252 116.15 22.752 37.92 56.982 72.586 98.988 100.252 30.356 19.992 50.78 51.948 56.176 87.894 1.8 11.984 2.928 24.088 3.37 36.124 7.47-6.194 14.75-12.846 21.88-19.976 24.154-24.152 56.78-37.49 90.502-37.49 5.368 0 10.762 0.336 16.156 1.024 20.948 2.662 42.344 4.016 63.594 4.020v128c-27.128-0.002-53.754-1.738-79.742-5.042-109.978 109.978-241.25 129.7-368.176 132.596v-26.916c68.536-33.578 128-94.74 128-164.636 0-9.754-0.758-19.33-2.164-28.696-115.796-76.264-189.836-192.754-189.836-323.304 0-229.75 229.23-416 512-416 278.458 0 504.992 180.614 511.836 405.52-41.096-18.316-85.84-29.422-132.262-32.578-11.53-56.068-45.402-108.816-98.252-151.756-35.322-28.698-76.916-51.39-123.628-67.444-49.706-17.080-102.76-25.742-157.694-25.742-54.932 0-107.988 8.662-157.694 25.742-46.712 16.054-88.306 38.744-123.628 67.444z"></path>
            </symbol>

        </defs>
    </svg>

        <div class="menu menu--banner universal tinsley-gradient">
            <div class="wrap clearfix">

              <a class="link" href="http://www.nova.edu/" title="Nova Southeastern University">
                <picture class="logo logo--nsu">
                  <source media="(max-width: 617px)" srcset="//sherman.library.nova.edu/cdn/media/images/logos/nsu-small.png" alt="Alvin Sherman Library, Research, and Information Technology Center">
                  <img
                    alt="Alvin Sherman Library, Research, and Information Technology Center"
                    srcset="//sherman.library.nova.edu/cdn/media/images/logos/nsu.png"
                    data-src="//sherman.library.nova.edu/cdn/media/images/logos/nsu.png">
                </picture>
              </a>

                <a href="http://nova.edu/library" title="NSUs Libraries">
                  <picture class="logo logo--asl">
                    <source media="(min-width: 618px)" srcset="//sherman.library.nova.edu/cdn/media/images/logos/all-libraries.png" alt="NSUs Libraries">
                    <img
                      alt="Alvin Sherman Library, Research, and Information Technology Center"
                      srcset="//sherman.library.nova.edu/cdn/media/images/logos/sherman-library.png"
                      data-src="//sherman.library.nova.edu/cdn/media/images/logos/sherman-library.png">
                  </picture>
                </a>

            </div>
        </div><!--/.universal-->

  <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />

        <!-- BEGIN: Content Header -->
        <!-- Header
        ======================
        --> <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">

              <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

<h1 class="pill-menu__title" style="display: inline-block;">{{page_title}}</h1>

              </div><!--/.inner-header-->

          </header><!--/.header-->
        <!-- END: Content Header -->

             <!-- BEGIN: Nav Bar -->
        <div id="s-lib-public-nav" class="container s-lib-side-borders">
            {{page_nav}}
        </div>
        <!-- END: Nav Bar -->

        <!-- BEGIN: content -->
        <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders">
            <section>
				<div  id="s-lg-sb-search-bar"  class="row">
					<div  id="sb-search-col-1"  class="col-md-12 center">
						{{navbar}}
					</div>
				</div>
			</section>
			<section class="clearfix">

  			<div class="col-md--eightcol">

					<div id="s-lg-sb-guides" class="card">
						<!-- Guides content -->
						<div id="s-lg-sb-content-guides"></div>
					</div>

  			</div>

        <div class="col md--fourcol"></div>
			</section>
        </div>
        <!-- END: content -->
        <!-- BEGIN: Page Footer -->
        {{system_footer}}
        <!-- END: Page Footer -->
        <div id="s-lib-alert" title="">
                            <div id="s-lib-alert-content"></div>
                       </div>
                <div id="s-lib-popover-title" class="hide">
                    <span class="text-info"><strong>title</strong></span>
                    <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">&times;</button>
                </div>
                <div id="s-lib-popover-content" class="hide"><i class="fa fa-refresh fa-spin"></i> Loading...
                    <button class="btn btn-default btn-sm popclose" type="button">Close</button>
                </div>
			<div id="s-lib-scroll-top" title="Back to Top">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
				</span>
			</div>
        <!-- BEGIN: Custom Footer -->
        <footer id="footer" class="footer" role="contentinfo">



  	    </footer> <!-- end footer -->
        <!-- END: Custom Footer -->
	</body>
