<footer id="footer" class="footer" role="contentinfo">

	<div id="inner-footer" class="wrap clearfix">

		<div class="col-sm--twelvecol col-lg--sixcol media">

			<a href="http://law.nova.edu" class="link link--undecorated">College of Law</a> /
			<a href="http://law.nova.edu/library" class="link link--undecorated">Panza Maurer Law Library</a> /
			<a href="https://www.law.nova.edu/about/contact.html" class="link link--undecorated">Contact</a> /
			<a href="https://nova.campusguides.com/law" class="link link--undecorated">Hours</a>
			<br />
			© 2017<a href="http://www.nova.edu">Nova Southeastern University</a>   |   3301 College Ave, Ft. Lauderdale, FL 33314-7796   |     (800) 541-6682


			<svg aria-labelledby="a11y-tf" aria-describedby="a11y-tf-desc" role="img" class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="width: 44px; height: 55px; float: right; position: relative; top: -10px;">
				<title id="a11y-tf">Tobacco Free</title>
				<desc id="a11y-tf-desc">Nova Southeastern University is a tobacco free campus.</desc>
				<a xlink:href="http://www.nova.edu/tobacco-free/" title="Nova Southeastern University - Tobacco Free ">
					<g style="fill: white;"><path d="M71.8 48.9c-.4-.5-.8-.9-.9-1.2-.3-.4-.6-.8-.9-1.3-.3-.5-.5-.9-.5-1.5s.3-1.4 1.3-2.5c.3-.3.3-.7 0-.9-.3-.3-.7-.3-.9 0-1.2 1.2-1.7 2.3-1.7 3.4 0 .8.3 1.6.7 2.1.3.6.7 1 .9 1.3.3.4.7.8.9 1.2.3.4.5.8.5 1.3 0 .6-.3 1.3-1.3 2.4-.3.3-.3.7 0 .9.3.3.7.3.9 0 1.2-1.2 1.7-2.3 1.7-3.3 0-.7-.3-1.3-.7-1.9zM68.6 57.1l-.9-1.2c-.3-.5-.5-.9-.5-1.5s.3-1.4 1.3-2.5c.3-.3.3-.7 0-.9-.3-.3-.7-.3-.9 0-1.2 1.2-1.7 2.3-1.7 3.4 0 .8.3 1.6.7 2.1.3.6.7 1 .9 1.3.3.4.7.8.9 1.2.3.4.5.8.5 1.3 0 .6-.3 1.3-1.3 2.4-.3.2-.3.7 0 .9.3.3.7.3.9 0 1.2-1.2 1.7-2.3 1.7-3.3 0-.8-.3-1.5-.7-2-.3-.5-.7-.9-.9-1.2z"/><path d="M50 12c-20.8 0-37.6 16.8-37.6 37.6S29.2 87.2 50 87.2s37.6-16.8 37.6-37.6C87.6 28.9 70.8 12 50 12zM18.8 49.7c0-8.6 3.5-16.4 9.1-22 5.7-5.6 13.4-9.1 22-9.1 6.8 0 13.1 2.2 18.2 5.9L48.7 46.3l-5-5-.5-.5-11.3-11.4-4.3 4.3 11.8 11.8 5.3 5.3L27 70.7c-5.1-5.6-8.2-12.9-8.2-21zm47.7 17.1c.1.1.1.3.1.4 0 .7-.5 1.2-1.2 1.2-.2 0-.3 0-.4-.1l1.5-1.5zm-2.9 1.1L50.1 54.4l2.4-2.6 13.6 13.6-2.5 2.5zm-18.1-18L41 45.3l2.5-2.5 4.4 4.4-2.4 2.7zM72 71.7c-5.7 5.6-13.4 9.1-22 9.1-6.8 0-13-2.2-18.1-5.9l17.4-19.6 14.3 14.3.4-.4c.4.3.9.4 1.4.4 1.4 0 2.5-1.1 2.5-2.5 0-.5-.2-1-.4-1.4l.4-.4-14.6-14.5L73 28.7c5.1 5.5 8.2 12.9 8.2 21 0 8.6-3.5 16.3-9.2 22z"/></g>
				</a>
			</svg>

		</div>

	</div> <!-- end #inner-footer -->

</footer> <!-- end footer -->

<script data-main="//sherman.library.nova.edu/cdn/scripts/config.js" src="//sherman.library.nova.edu/cdn/scripts/require-2.1.20.min.js"></script>
<script src="//code.angularjs.org/1.5.7/angular.min.js"></script>
<script src="//code.angularjs.org/1.5.7/angular-route.min.js"></script>
<script src="//code.angularjs.org/1.5.7/angular-sanitize.min.js"></script>
<script src="//sherman.library.nova.edu/assets/js/libGuidesApplication.js?v=041216"></script>