<body class="s-lg-guide-body libguide--cards" ng-app="lgApp">
  <div data-ng-controller="ApplicationController as ac">

    <div data-ng-controller="LibGuidesController as lg" data-description="{{page_description}}">

    {{ADMIN_CMD_BAR}}

    <!-- BEGIN: Guide Info Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders hide-accessible pad-top-med">

        <div class="pull-right">{{ADMIN_MINI_CMD_BAR}}</div>

        <div id="s-lib-bc"> {{breadcrumbs}} </div>

        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container" class="pad-top-med">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Info Header -->

    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->

    <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />
    <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">

        <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

          <label class="label label--hamburger" for="top-menu" title="Open the Menu"   onclick="ga( 'send', 'event', 'Context Menu', 'click', 'Hamburger' );">
            <svg class="svg svg--menu" fill="#000000" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
            <span>Menu</span>
          </label>

          <h1 class="pill-menu__title" style="display: inline-block;">{{guide_title}} &mdash; {{page_title}}</h1>

        </div><!--/.inner-header-->

    </header><!--/.header-->

    <nav class="top-menu  hidden-xs hidden-sm hidden-md hidden-lg" role="navigation">
      <a href="#content" class="hide-accessible">Skip the menu to the main content</a>
      <div id="inner-menu" class="wrap clearfix">
        <div class="menu-new-main-menu-container">
          <ul class="menu" style="padding-top: 1em;">

              <li class="menu-item   menu-item-has-children"><a href="http://www.law.nova.edu/index.html">College of Law</a>
                  <ul class="sub-menu">
                      <li class="menu-item"><a href="https://www.law.nova.edu/news/index.html">Newsroom</a></li>
                      <li class="menu-item"><a href="https://www.law.nova.edu/news/events.html">Events</a></li>
                      <li class="menu-item"><a href="https://www.law.nova.edu/index.html#tabs1-alumni">Admissions</a></li>
                      <li class="menu-item"><a href="https://www.law.nova.edu/alumni/index.html">Alumni and Development</a></li>
                      <li class="menu-item"><a href="https://www.law.nova.edu/career/mentoring/index.html">Mentoring Program</a></li>
                  </ul>
              </li>

              <li class="menu-item menu-item-has-children"><a href="https://www.law.nova.edu/current-students/index.html">Students</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="https://www.law.nova.edu/current-students/index.html">Current Students</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/prospective/index.html">Future Students</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/jd-program/index.html">Juris Doctor Program</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/online/index.html">Master of Science Programs</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/current-students/student-services.html">Student Services</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/career/students.html">Career and Professional Development</a></li>
                </ul>
              </li>

              <li class="menu-item menu-item-has-children"><a href="#">Faculty and Staff</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="https://www.law.nova.edu/alumni/dean/index.html">Dean's Notes</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/faculty/administration/index.html">Administration and Staff</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/faculty/index.html">Faculty Information</a></li>
                  <li class="menu-item"><a href="http://nsuworks.nova.edu/law/facarticles">Faculty Publications</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/faculty/subject-matter.html">Subject Matter Media Contact List</a></li>
                  <li class="menu-item"><a href="http://nsuworks.nova.edu/law">NSU Works for College of Law</a></li>
                </ul>
              </li>

              <li class="menu-item menu-item-has-children"><a href="https://nova.campusguides.com/law/library">Panza Maurer Law Library</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="http://systems.library.nova.edu/form/view.php?id=89">Make an Appointment</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/library/resources.html">Library Resources</a></li>
                  <li class="menu-item"><a href="https://nova.campusguides.com/lawlibrary/hours">Hours</a></li>
                  <li class="menu-item"><a href="https://www.law.nova.edu/library/staff.html">Staff</a></li>
                  <li class="menu-item"><a href="http://nova.campusguides.com/lawlibrary/databases">Databases</a></li>
                </ul>
              </li>

          </ul>
        </div>
      </div><!--/#--iner-menu"-->
    </nav><!--/nav-->

    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>

    <div class="has-background background-base hero" data-ng-if="lg.description">
      <div class="clearfix wrap">
        <p class="col-md--eightcol col--centered epsilon">{{ lg.description }}</p>
      </div>
    </div>

    <div id="s-lg-side-nav-content" class="container s-lib-side-borders pad-top-med hero--small">
      <div class="col-md-3 col-md--fourcol s-lg-tabs-side">

        <div id="s-lg-guide-tabs">
          <nav class="nav nav-pills nav-stacked split-button-nav" role="navigation" data-label>
            {{guide_nav}}
          </nav>

          {{side_nav_boxes}}
        </div>

      </div>
      <div class="col-md-9 col-md--eightcol">
        <div class="s-lg-tab-content">
            <div id="s-lg-guide-main" class="tab-pane active">
                {{content}}
            </div>
        </div>
        {{page_prev_next_links}}
      </div>
    </div>

    <!-- BEGIN: Page Footer -->
    <div id="s-lib-footer-public" class="s-lib-footer footer container s-lib-side-borders hide-accessible">
        <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
            <ul id="s-lg-guide-header-attributes" class="">
                <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                    {{last_updated_display}}                    </li>
                <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                    {{guide_url_display}}
                </li>
                <li id="s-lg-guide-print-url">
                    {{print_url_display}}
                </li>
            </ul>
            <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                {{login_url_display}}                </div>
        </div>
        <div class="pad-bottom-sm clearfix">
            <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                {{support_url_display}}
            </div>
            <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                {{guide_subjects}}
            </div>
            <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                {{guide_tags}}
            </div>
        </div>
    </div>
    <!-- END: Page Footer -->
    <div class="wrap align-right">{{login_url_display}}</div>
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>

    <!-- BEGIN: Custom Footer -->
    {{public_footer}}
      <!-- END: Custom Footer -->

    </div><!--/LibGuidesController-->
  </div><!--/ApplicationController-->
</body>
