<body class="s-lg-guide-body libguide--cards" ng-app="lgApp">
  <div data-ng-controller="ApplicationController as ac">

    <div data-ng-controller="LibGuidesController as lg">

    {{ADMIN_CMD_BAR}}

    <!-- BEGIN: Guide Info Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders hide-accessible pad-top-med">

        <div class="pull-right">{{ADMIN_MINI_CMD_BAR}}</div>

        <div id="s-lib-bc"> {{breadcrumbs}} </div>

        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container" class="pad-top-med">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Info Header -->

    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->

    <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />

<!-- Header
======================
--> <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">

        <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

          <label class="label label--hamburger" for="top-menu" title="Open the Menu"   onclick="ga( 'send', 'event', 'Context Menu', 'click', 'Hamburger' );">
            <svg class="svg svg--menu" fill="#000000" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
            <span>Menu</span>
          </label>

          <h1 class="pill-menu__title" style="display: inline-block;">{{guide_title}} &mdash; {{page_title}}</h1>

            <ul class="menu--actions--public  menu--actions--context">

              <li class="menu--actions--public__menu-item icon">
                <a href="//sherman.library.nova.edu/sites/hours" target="_self"   onclick="ga( 'send', 'event', 'Context Menu', 'click', 'Hours Icon' );">
                  <svg class="svg" style="position: relative; width: 22px; height: 24px; fill:#444; "viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                      <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                  </svg>
                  <span class="icon__label" ng-cloak>
                    <span data-ng-if="ac.hours.open">Today</span>
                    <span data-ng-if="ac.hours.message">Closed</span>
                  </span>
                </a>
              </li>

              <li class="menu--actions--public__menu-item hide-accessible--sm" data-ng-if="ac.hours.open" ng-cloak style="background-color: rgba( 0, 0, 0, 0.05 );">
                  <span data-ng-if="ac.hours.open">{{ ac.hours.open }} &ndash; {{ ac.hours.close }}</span>
              </li>

              <li class="menu--actions--public__menu-item"><a href="http://sherman.library.nova.edu/sites/ask-a-librarian" target="new">Ask a Librarian</a></li>

            </ul>


        </div><!--/.inner-header-->

    </header><!--/.header-->


<nav class="top-menu  hidden-xs hidden-sm hidden-md hidden-lg" role="navigation">
        <a href="#content" class="hide-accessible">Skip the menu to the main content</a>
                <div id="inner-menu" class="wrap clearfix">

                    <div class="search">

                        <form class="has-background no-margin form ng-pristine ng-valid" role="search" method="get" id="searchform" action="http://sharksearch.nova.edu/search">
            <ul class="no-margin">
                <li class="form__field no-margin">
                    <label class="hide-accessible label" for="searchbox">Search the Library Website</label>
                    <svg class="svg svg--search" style="margin-right: 1em;" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
                    <input class="input form__input form__input--full-width search__search-field search__search-field--transparent input--large input--epsilon" value="" name="q" id="searchbox" placeholder="Search the Library Website" speech="" type="search">
                </li>
            </ul>


        <input name="client" value="aslritc" type="hidden">
        <input name="proxystylesheet" value="main" type="hidden">
        <input name="output" value="xml_no_dtd" type="hidden">
        <input name="access" value="p" type="hidden">
        <input name="ie" value="UTF-8" type="hidden">
        <input name="oe" value="UTF-8" type="hidden">
        <input name="site" value="aslritc" id="sopswap" type="hidden">
    </form>
                    </div>

                    <div class="menu-new-main-menu-container">
                        <ul class="menu">
                            <li class="menu-item   menu-item-has-children"><a href="#">About</a>
                                <ul class="sub-menu">
                                    <li class="menu-item   "><a href="http://sherman.library.nova.edu/sites/hours/">Hours</a></li>
                                    <li class="menu-item   "><a href="http://sherman.library.nova.edu/sites/directions/">Directions and Parking</a></li>
                                    <li class="menu-item   "><a href="http://sherman.library.nova.edu/sites/policies/">Policies</a></li>
                                </ul>
                            </li>

                            <li class="menu-item   menu-item-has-children "><a href="#">Research</a>
                            <ul class="sub-menu">
                                <li class="menu-item" style="color: #91cdeb;">Citation Tools
                                  <ul class="sub-menu">
                                    <li class="menu-item   ">
                                        <a href="http://sherman.library.nova.edu/sites/apa/">APA</a>
                                    </li>
                                      <li class="menu-item   ">
                                          <a href="http://sherman.library.nova.edu/doi/" alt="Document Object Idenfitier">DOI</a>
                                      </li>
                                      <li class="menu-item   ">
                                          <a href="http://nova.campusguides.com/endnote-libguide">EndNote</a>
                                      </li>
                                  </ul>

                                </li>
                                <li class="menu-item   "><a href="http://sherman.library.nova.edu/e-library">Databases</a></li>
                                <li class="menu-item   menu-item-has-children "><a href="http://sherman.library.nova.edu/sites/interlibrary-loan/" target="_self">Interlibrary Loan</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item   ">
                                            <a href="http://illiad.library.nova.edu">ILLiad</a>
                                        </li>
                                        <li class="menu-item   ">
                                            <a href="http://sherman.library.nova.edu/sites/interlibrary-loan/#docdel">Document Delivery</a>
                                        </li>
                                    </ul>
                                </li>
                                 <li class="menu-item   "><a href="http://lib.nova.edu/ftf">Full Text Finder</a></li>
                            </ul>
                            </li>
                        <li class="menu-item   menu-item-has-children "><a href="#">Services</a>
                        <ul class="sub-menu">
                            <li class="menu-item   "><a href="http://sherman.library.nova.edu/sites/policies/circulation/">Circulation</a></li>
                            <li class="menu-item   "><a href="http://nova.campusguides.com/c.php?g=112162&#038;p=724231">Course Reserves</a></li>
                            <li class="menu-item   "><a href="http://sherman.library.nova.edu/sites/spotlight/events">Programs and Events</a></li>
                            <li class="menu-item   "><a href="http://public.library.nova.edu">Public Library Services</a></li>
                            <li class="menu-item   children menu-item-2517"><a href="http://sherman.library.nova.edu/sites/rooms/">Reserve a Room</a>
                            <ul class="sub-menu">
                                <li class="menu-item   "><a href="//sherman.library.nova.edu/sites/rooms/#reserve">Conference Rooms</a></li>
                                <li class="menu-item   "><a href="http://sherman.library.nova.edu/rooms">Study Rooms</a></li>
                            </ul>
                        </li>
                            <li class="menu-item   "><a href="http://sherman.library.nova.edu/sites/workshops-and-instruction/">Workshops and Instruction</a></li>
                        </ul>
                        </li>
                        <li class="menu-item   menu-item-has-children "><a href="#">Help</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="//sherman.library.nova.edu/sites/ask-a-librarian/">Ask a Librarian</a></li>
                            <li class="menu-item   menu-item-has-children"><a href="http://sherman.library.nova.edu/sites/contact/">Contact</a>
                            <ul class="sub-menu">
                                <li  class="menu-item"><a href="//sherman.library.nova.edu/sites/directory/">Staff Directory</a></li>
                                <li  class="menu-item"><a href="http://systems.library.nova.edu/form/view.php?id=10">Suggest a Purchase</a></li>
                            </ul>
                        </li>
                            <li  class="menu-item"><a href="http://public.library.nova.edu/card/">Get a Library Card</a></li>
                            <li  class="menu-item"><a href="http://nova.campusguides.com/main">Library Guides</a></li>
                        </ul>
                        </li>
                    </ul>
                  </div>
                </div>
            </nav>

    <!--<div class="has-background background-base hero">
        <p class="epsilon wrap center-grid">
            {{#guide_description}}
        </p>
    </div>-->

    <div id="s-lg-tabs-container" class="container s-lib-side-borders" data-ng-class="{ 'hide-accessible' : lg.config.navbar }">
        <div id="s-lg-guide-tabs" class="tabs">
            <ul class="nav nav-tabs split-button-nav">
                {{guide_nav}}
            </ul>
        </div>
    </div>
    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>

        <!-- BEGIN: Guide Content -->

        <div id="s-lg-guide-main" class="container clearfix s-lib-main s-lib-side-borders">
            {{content}}
            {{page_prev_next_links}}
        </div>
        <!-- END: Guide Content -->
        <!-- BEGIN: Page Footer -->
        <div id="s-lib-footer-public" class="s-lib-footer footer container s-lib-side-borders hide-accessible">
            <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
                <ul id="s-lg-guide-header-attributes" class="">
                    <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                        {{last_updated_display}}                    </li>
                    <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                        {{guide_url_display}}
                    </li>
                    <li id="s-lg-guide-print-url">
                        {{print_url_display}}
                    </li>
                </ul>
                <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                    {{login_url_display}}                </div>
            </div>
            <div class="pad-bottom-sm clearfix">
                <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                    {{support_url_display}}
                </div>
                <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                    {{guide_subjects}}
                </div>
                <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                    {{guide_tags}}
                </div>
            </div>
        </div>
        <!-- END: Page Footer -->

        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>


        <!-- BEGIN: Custom Footer -->
                {{public_footer}}
        <!-- END: Custom Footer -->

      <div class="clearfix wrap"><div class="_libapps_login">{{login_url_display}}</div></div>
    </div>
  </div>
  </body>
