<body class="s-lg-guide-body libguide--cards" ng-app="lgApp">
  <div data-ng-controller="ApplicationController as ac">

    <div data-ng-controller="LibGuidesController as lg">

    {{ADMIN_CMD_BAR}}

    <!-- BEGIN: Guide Info Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders hide-accessible pad-top-med">

        <div class="pull-right">{{ADMIN_MINI_CMD_BAR}}</div>

        <div id="s-lib-bc"> {{breadcrumbs}} </div>

        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container" class="pad-top-med">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Info Header -->

    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->

    <input type="checkbox" id="top-menu" class="checkbox-toggle hidden-xs hidden-sm hidden-md hidden-lg" />
    <header class="header white hidden-xs hidden-sm hidden-md hidden-lg" role="banner" style="border-bottom: none;">

        <div id="inner-header" class="wrap clearfix hidden-xs hidden-sm hidden-md hidden-lg">

          <label class="label label--hamburger" for="top-menu" title="Open the Menu"   onclick="ga( 'send', 'event', 'Context Menu', 'click', 'Hamburger' );">
            <svg class="svg svg--menu" fill="#000000" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
            <span>Menu</span>
          </label>

          <h1 class="pill-menu__title" style="display: inline-block;">{{guide_title}} &mdash; {{page_title}}</h1>

        </div><!--/.inner-header-->

    </header><!--/.header-->

    <nav class="top-menu  hidden-xs hidden-sm hidden-md hidden-lg" role="navigation">
      <a href="#content" class="hide-accessible">Skip the menu to the main content</a>
      <div id="inner-menu" class="wrap clearfix">
        <div class="menu-new-main-menu-container">
          <ul class="menu">
              <li class="menu-item   menu-item-has-children"><a href="#">About</a>
                  <ul class="sub-menu">
                      <li class="menu-item"><a href="http://sherman.library.nova.edu/sites/hours/">Hours</a></li>
                      <li class="menu-item"><a href="http://sherman.library.nova.edu/sites/directions/">Directions and Parking</a></li>
                      <li class="menu-item"><a href="http://sherman.library.nova.edu/sites/policies/">Policies</a></li>
                  </ul>
              </li>
          </ul>
        </div>
      </div><!--/#--iner-menu"-->
    </nav><!--/nav-->

    <div id="s-lg-tabs-container" class="container s-lib-side-borders" data-ng-class="{ 'hide-accessible' : lg.config.navbar }">
        <div id="s-lg-guide-tabs" class="tabs">
            <ul class="nav nav-tabs split-button-nav">
                {{guide_nav}}
            </ul>
        </div>
    </div>
    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>

        <!-- BEGIN: Guide Content -->

        <div id="s-lg-guide-main" class="container clearfix s-lib-main s-lib-side-borders">
            {{content}}
            {{page_prev_next_links}}
        </div>
        <!-- END: Guide Content -->
        <!-- BEGIN: Page Footer -->
        <div id="s-lib-footer-public" class="s-lib-footer footer container s-lib-side-borders hide-accessible">
            <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
                <ul id="s-lg-guide-header-attributes" class="">
                    <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                        {{last_updated_display}}                    </li>
                    <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                        {{guide_url_display}}
                    </li>
                    <li id="s-lg-guide-print-url">
                        {{print_url_display}}
                    </li>
                </ul>
                <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                    {{login_url_display}}                </div>
            </div>
            <div class="pad-bottom-sm clearfix">
                <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                    {{support_url_display}}
                </div>
                <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                    {{guide_subjects}}
                </div>
                <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                    {{guide_tags}}
                </div>
            </div>
        </div>
        <!-- END: Page Footer -->
        <div class="wrap align-right">{{login_url_display}}</div>
        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>


        <!-- BEGIN: Custom Footer -->
                {{public_footer}}
        <!-- END: Custom Footer -->

    </div>
  </div>
  </body>
